@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


body{
  font-family: 'Inter', sans-serif;
}

a.active{
  @apply text-sky-600 font-bold;
}

.mobile a.active{
  @apply text-black font-bold;
}

header{
  z-index: 10001 !important;
}

.btn-primary{
  @apply px-4 py-2 bg-sky-600 text-white hover:bg-neutral-700 rounded transition-all duration-300 hover:-translate-y-1;
}

.footer-link{
  cursor: pointer;
}

/* Top Sliding Animate */
.about .card .card-front{
  transform: translateY(0%);
  opacity: 1;
  transition: all 0.3s ease-in;
}

.about .card:hover .card-front{
  opacity: 0;
  transform: translateY(-100%);
}

.about .card .card-description{
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.3s ease-in;
}

.about .card:hover .card-description{
  opacity: 1;
  transform: translateY(0%);
}